# Movie Recommendation System (TMDb - The Movie Database üé¨)

In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv("data/tmdb_5000_movies.csv")
credits = pd.read_csv("data/tmdb_5000_credits.csv")

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies.shape

(4803, 20)

In [7]:
credits.shape

(4803, 4)

#Merge movies and credits into one df--- movies
#And take only necessary columns(useful in recommendation system) in df movies

'movie_id','title','overview','genres','keywords','cast','crew'

In [8]:
movies= pd.merge(movies,credits,on="title")

In [9]:
movies.shape

(4809, 23)

In [10]:
movies = movies[ ['movie_id','title','overview','genres','keywords','cast','crew'] ]
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Data Preprocessing

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.drop_duplicates(inplace=True)

#We need only 3 things....movie_ID, title, Tags(overview,genres,keywords,cast,crew)
#Have to pick these from the dict values given and correct format of each....then combine into Tags column

Like in genres 
'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
We want: ["Action","Adventure","Fantasy","Science Fiction"]

Fetch diff "genres"
Fetch diff "keywords"
Fetch top 3 "cast"
Fetch Director from "crew"
Fetch "overview" in list format

Concatenate all for tags

Stemming on tags

In [14]:
#String looks like a Python list....convert to List
import ast

In [15]:
def convert(obj):
    L=[]
    lst=ast.literal_eval(obj)
    for d in lst:
        L.append( d["name"] )
    return L

In [16]:
movies['genres'] = movies['genres'].apply( convert )
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond‚Äôs past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
#Now for Cast , take only top3 cast...Otherwise very long
def convert3(obj):
    L=[]
    lst=ast.literal_eval(obj)
    count=0
    for d in lst:
        if count != 3:
            L.append( d["name"] )
            count+=1
        else:
            break
    return L

In [18]:
movies['cast']=movies['cast'].apply(convert3)

In [19]:
def fetch_director(obj):
    L=[]
    lst=ast.literal_eval(obj)
    for d in lst:
        if d["job"]=="Director":
            L.append( d["name"] )
            break
    return L

In [20]:
movies['crew']=movies['crew'].apply(fetch_director)

In [21]:
#Convert overview values from string to list..... str.split()
#lambda is a way to write a small, one-line function without giving it a name.

movies['overview']=movies['overview'].apply( lambda x : x.split() )

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond‚Äôs, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, L√©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

#One more modification

"Sam Worthington" and "Sam Mendes" -- 2 different tags, but when combined and split on basis of space,
so that the system does not gets confused between these convert to "SamWorthington" and "SamMendes"

In [23]:
def remove_spaces(L):
    L1=[]
    for s in L:
        L1.append( s.replace(" ","") )
    return L1

In [24]:
movies['genres'] = movies['genres'].apply( remove_spaces )
movies['keywords'] = movies['keywords'].apply( remove_spaces )
movies['cast'] = movies['cast'].apply( remove_spaces )
movies['crew'] = movies['crew'].apply( remove_spaces )

In [25]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
new_df=movies[ ['movie_id','title','tags'] ]

In [26]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond‚Äôs, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [27]:
#Tags...list to string...join by space " "
new_df["tags"]=new_df["tags"].apply( lambda x: " ".join(x) )

#Converted to string... now do in lower case
new_df["tags"]=new_df["tags"].apply( lambda x: x.lower() )

C:\Users\Saksham Suri\AppData\Local\Temp\ipykernel_29796\1736680953.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply( lambda x: " ".join(x) )
C:\Users\Saksham Suri\AppData\Local\Temp\ipykernel_29796\1736680953.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply( lambda x: x.lower() )

In [28]:
new_df['tags'][0]  # 'overview','genres','keywords','cast'(Top 3 actors),'crew'(Director)

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

#But here words like loved,loving,love Or danced,dancing mustn't be treated differently bcz of their tense
#Stemming in NLTK = Natural Language Toolkit, It‚Äôs a Python library for NLP tasks.

Stemming means reducing words to their root form so similar words are treated the same.

Why it helps (in movie recommender)
‚úÖlove, loved, loving ‚Üí love(root term)
‚úÖaction, actions ‚Üí action(root term)
Effect on Vectorization
    üìå CountVectorizer treats love, loved, loving as the same feature
    üìâ Vocabulary size decreases
    üìà Word overlap increases
Effect on Cosine Similarity
    üìå More common dimensions ‚Üí higher cosine similarity
    üìå Similar movies are ranked closer
‚ö†Ô∏è Note: Stemming can create non-real words (root term), which is totally fine for ML similarity models.

In [29]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [30]:
def stem(text):
    L=[]
    for word in text.split():
        L.append( ps.stem(word) )
    return " ".join(L)

In [31]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Saksham Suri\AppData\Local\Temp\ipykernel_29796\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [32]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond‚Äô past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

# Vectorization

In [33]:
'''Imports the tool used to convert text into numbers.
Creates a CountVectorizer object:
max_features=5000 ‚Üí keeps only the top 5000 most frequent words
stop_words='english' ‚Üí removes common words like the, is, and, of '''

from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [34]:
vector= cv.fit_transform( new_df['tags'] ).toarray()   #toarray() ‚Üí converts sparse matrix to a NumPy array

In [35]:
vector.shape #4806 movies --> size of one vector(each row) 5000

(4806, 5000)

#Co-sine similarity
function used to measure similarity between vectors.
Output similarity ‚Üí (n_movies, n_movies)
    
Each value lies between 0 and 1:
1 ‚Üí exactly similar, 0 ‚Üí no similarity

üìä What this matrix means
Row i, Column j ‚Üí similarity between movie i and movie j
Diagonal values = 1 (movie compared with itself)

In [36]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity( vector )

In [37]:
similarity.shape

(4806, 4806)

In [38]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

# Main function

# If a movie given, recommend 5 similar movies

1Ô∏è‚É£  Function that takes a movie title as input
2Ô∏è‚É£  Finds the index of the given movie in the dataframe
3Ô∏è‚É£  Access its similarity scores through its index ‚Üí similarity[index] gives an array
4Ô∏è‚É£  Sort similarity scores in descending order (highest first)
5Ô∏è‚É£  Skip the 0th index (same movie, similarity = 1), , Pick indexes of top 5
6Ô∏è‚É£  Access these movies in dataframe from their indexes

enumerate() is used when you want index + value together while looping üîÅ
When sorting similarity scores, you need: index ‚Üí movie index, value ‚Üí similarity score
SORT on basis of similarity scores.

‚ùìSort list of tuples (by 2nd element)
sorted(iterable, key=___some_function___, reverse= ___)
    data = [(1, 3), (4, 1), (2, 2)]
    sorted( data, key=lambda x: x[1] )
    O/P: [(4, 1), (2, 2), (1, 3)]

In [39]:
def recommend(movie):
    index=new_df[ new_df['title']==movie ].index[0]
    scores=similarity[index]
    movies_list= list( enumerate(scores) )
    movies_list= sorted( movies_list, key=lambda x: x[1], reverse=True )

    for i in movies_list[1:6]:
        print( new_df.iloc[ i[0] ].title )

In [40]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf


üìå Why not ‚Äúaccuracy‚Äù?
Because:
No true labels (like spam / not spam)
Order matters (Top-5 ‚â† Top-50)
Recommenders are ranking systems, not classifiers
Hence precision, recall, hit-rate are used instead.


‚ÄúThere is no built-in accuracy function for recommender systems. Precision@K is implemented manually as recommender systems are ranking-based models.‚Äù
Precision@K is used to evaluate the content-based recommendation system. It measures the proportion of relevant movies among the top-K recommendations generated using cosine similarity.

‚ÄúOut of the top K movies I recommended, how many were actually relevant?‚Äù
Example:
Recommended (K=5): ['Interstellar', 'Avengers', 'Titanic', 'Inception', 'Jumanji']
Relevant (ground truth): ['Interstellar', 'Avengers', 'Inception']
Hits = 3
K = 5
Precision@5 = 3 / 5 = 0.6  (60%)
So 60% of the recommendations were good.

In [41]:
import pickle

In [42]:
pickle.dump(new_df,open("movies.pkl","wb") )

In [44]:
pickle.dump(similarity,open("similarity.pkl","wb"))